<!DOCTYPE html>
<html>
  <head>
    <title>FurimaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
      <% if !current_page?(new_user_session_path) %>
        <nav class="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"><%= link_to "ホームへ戻る", items_path(current_user) %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "マイページ", users_index_path %></a>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
